/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




/* AJOUTS */

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: forestgreen !important;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    color: #008558;
}

.texte_centre, .texte_centre2, h1, h2, h3, h4 .text-dark, .navbar-brand, p, div {
    font-family: Montserrat;
}

.texte_centre {
    position: absolute; /* postulat de départ */
    font-size: 4.5rem;
    top: 25%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.texte_centre2 {
    position: absolute; /* postulat de départ */
    font-size: 2.5rem;
    top: 40%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

h1 {
    color: #008558;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    color: #006644;
}


.bg-custom /* couleur du nav */ {
    background-color: #12232f;
}

.form-control {
    background-color: #213566;
    color: white;
}

.form-control:valid {
    background-color: #213566;
    color: white;
}


.form-control:focus, .form-control:hover {
    background-color: #32519a;
    color: white;
}

.text-danger {
    color: #e69900 !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #bfbfbf !important;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #0df0a3 !important;
}

.text-dark {
    color: #bfbfbf !important;
    font-size: 1.25rem;
}

a.text-dark:hover, a.text-dark:focus {
    color: #0df0a3 !important;
}


.table {
    color: #006644;
}


/* FIN AJOUTS */

.navbar-nav.login .nav-item {
    display: flex;
}

/* Provide sufficient contrast against white background */
a {
    color: #59a3ff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    /*background-color: #213566; */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #152140; /*couleur du fond bleu foncé+*/
    color: #008558; /*couleur du texte*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #12232f; /*couleur du fond bleu foncé+++*/
}

}
/*Perso*/
@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
        color: #bfbfbf; /*couleur du texte*/
    }
}

.icon-register {
    content: url('../images/icons/pencil-square.svg');
}

.icon-login {
    content: url('../images/icons/box-arrow-in-up-right.svg');
}

.icon-logout {
    content: url('../images/icons/box-arrow-right.svg');
}

.icon-competition {
    content: url('../images/icons/diagram-3-fill.svg');
    margin-right: 2px;
}

.icon-manage {
    content: url('../images/icons/person-circle.svg');
    margin-left: 2px;
}

.icon-email {
    content: url('../images/icons/envelope-fill.svg');
    margin-right: 2px;
    align-content: baseline;
}

.icon-password {
    content: url('../images/icons/file-earmark-lock.svg');
}

.icon-admin {
    content: url('../images/icons/gear-fill.svg');
}

.icon-equipe {
    content: url('../images/icons/people-fill.svg');
}

.icon-jeu {
    content: url('../images/icons/controller.svg');
}

.icon-licencie {
    content: url('../images/icons/person-fill.svg');
    margin-right: 2px;
}

.icon-type-competition {
    content: url('../images/icons/trophy-fill.svg');
    margin-right: 2px;
}

.icon-user {
    content: url('../images/icons/person-check.svg');
    margin-right: 2px;
}

.icon-notification:before {
    content: url('../images/icons/bell-fill.svg');
    margin-right: 2px;
    background-color:none;
}

.icon-approuv-équipe {
    content: url('../images/icons/shield-check.svg');
    margin-right: 2px;
}

.icon-matche {
    content: url('../images/icons/calendar2-check-fill.svg');
    margin-right: 2px;
}

.icon-type-matche {
    content: url('../images/icons/dice-5.svg');
    margin-right: 2px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

    .dropbtn:hover {
        background-color: #0056b3;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

.nav-item.flex {
    display: flex;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

/*Equipes*/
.membres-equipe-demandes {
    list-style: none;
}

.invitation-accepted::after {
    content: url('../images/icons/person-check-fill.svg');
    margin-left: 2px;
}

.invitation-not-accepted::after {
    content: url('../images/icons/person-x-fill.svg');
    margin-left: 2px;
}

/*disabled*/
.disabled {
    display: none;
}

/*dashboard*/
.col-lg-3 {
    background-color: #f3f3f4;
    border: solid 1px #e7eaec;
    margin: 15px;
    justify-content: center;
}

    .col-lg-3 .ibox-title {
        padding: 15px 20px 20px 20px;
        border-bottom: solid 1px #e7eaec;
    }

    .col-lg-3 .ibox-content {
        padding: 15px 20px 20px 20px;
    }

.row.row-center {
    justify-content: center;
}
