/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




/* AJOUTS */
/* INTERNET */
/*dark background to support form theme*/

/* FIN AJOUTS */

.navbar-nav.login .nav-item {
    display: flex;
}

/* Provide sufficient contrast against white background */
a {
    color: #59a3ff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ffffff;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    /*background-color: #213566; */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


}
/*Perso*/
@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
        color: #bfbfbf; /*couleur du texte*/
    }
}

.icon-register {
    content: url('../images/icons/pencil-square.svg');
}

.icon-login {
    content: url('../images/icons/box-arrow-in-up-right.svg');
}

.icon-logout {
    content: url('../images/icons/box-arrow-right.svg');
}

.icon-competition {
    content: url('../images/icons/trophy-fill.svg');
    margin-right: 2px;
}

.icon-manage {
    content: url('../images/icons/person-circle.svg');
    margin-left: 2px;
}

.icon-email {
    content: url('../images/icons/envelope-fill.svg');
    margin-right: 2px;
    align-content: baseline;
}

.icon-password {
    content: url('../images/icons/file-earmark-lock.svg');
}

.icon-admin {
    content: url('../images/icons/gear-fill.svg');
}

.icon-equipe {
    content: url('../images/icons/people-fill.svg');
}

.icon-jeu {
    content: url('../images/icons/controller.svg');
}

.icon-licencie {
    content: url('../images/icons/person-fill.svg');
    margin-right: 2px;
}

.icon-type-competition {
    content: url('../images/icons/people-fill.svg');
    margin-right: 2px;
}

.icon-user {
    content: url('../images/icons/people-fill.svg');
    margin-right: 2px;
}

.icon-notification {
    content: url('../images/icons/bell-fill.svg');
    margin-right: 2px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

    .dropbtn:hover {
        background-color: #0056b3;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

    .nav-item.flex {
        display: flex;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

/*Equipes*/
.membres-equipe-demandes {
    list-style: none;
}

.invitation-accepted::after {
    content: url('../images/icons/person-check-fill.svg');
    margin-left: 2px;
}

.invitation-not-accepted::after {
    content: url('../images/icons/person-x-fill.svg');
    margin-left: 2px;
}
