/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Perso*/
@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}

.icon-register:before {
    content: url('../images/icons/pencil-square.svg');
    margin-right: 2px;
}

.icon-login:before {
    content: url('../images/icons/box-arrow-in-up-right.svg');
    margin-right: 2px;
}

.icon-logout:before {
    content: url('../images/icons/box-arrow-right.svg');
    margin-right: 2px;
}

.icon-competition:before {
    content: url('../images/icons/trophy-fill.svg');
    margin-right: 2px;
}

.icon-manage:before {
    content: url('../images/icons/person-circle.svg');
    margin-right: 2px;
}

.icon-email:before {
    content: url('../images/icons/envelope-fill.svg');
    margin-right: 2px;
}

.icon-password:before {
    content: url('../images/icons/file-earmark-lock.svg');
    margin-right: 2px;
}

.icon-admin:before {
    content: url('../images/icons/gear-fill.svg');
    margin-right: 2px;
}

.icon-equipe:before {
    content: url('../images/icons/people-fill.svg');
    margin-right: 2px;
}

.icon-equipe:hover {
    background-color: #0056b3;
}

.icon-jeu:before {
    content: url('../images/icons/controller.svg');
    margin-right: 2px;
}

.icon-jeu:hover {
    background-color: #0056b3;
}

.icon-licencie:before {
    content: url('../images/icons/person-fill.svg');
    margin-right: 2px;
}

.icon-type-competition:before {
    content: url('../images/icons/people-fill.svg');
    margin-right: 2px;
}

.icon-user:before {
    content: url('../images/icons/people-fill.svg');
    margin-right: 2px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    list-style: none;
    padding:0;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}