@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">PROJET ESPORT</h1>
    <p>Développé avec amour par POTTIEZ Rémy et METEYER Théo</p>
</div>
