@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h2 class="display-4">Projet ASI</h2>
    <h2>POTTIEZ Remy - METEYER Théo</h2>
</div>
<br />
<div>
    Les différents utilisateurs et leurs fonctionnalités sont :
</div>
<br />

<ul>
    <li>
        Le grand public qui pourra consulter sans authentification les différentes compétitions passées et à venir avec leurs résultats et les classements nationaux par jeu.
    </li>
    <br>
    <li>
        Toute personne qui souhaite participer à une compétition devra demander une licence. Cette demande se fera via l'application web. Les licenciés de la fédération pourront consulter leur dossier. Ils pourront faire partie d'une équipe et participer à des compétitions. Les licenciés peuvent demander la création d'une équipe pour un jeu. Cette demande se fera via l'application web et sera étudiée dès lors qu'aucun membre de la nouvelle équipe ne fait partie d'une autre équipe pour le même jeu et que tous les membres ont accepté d'en faire partie. C'est un membre de la fédération qui entérinera la création d'une équipe.
    </li>
    <br>
    <li>
        Certains licenciés pourront devenir organisateurs de compétitions. Ils pourront alors
        <ul>
            <li>Créer des compétitions : définir les dates des parties, définir la formule du championnat, ajouter des équipes</li>
            <li>Saisir les résultats de chaque match</li>
        </ul>
    </li>
    <br>
    <li>
        Les personnels de la fédération qui pourront administrer l'application :
        <ul>
            <li>
                Gérer les utilisateurs : ajouter des licenciés, accorder des droits organisateurs de compétitions à des licenciés, gérer la liste des administrateurs de l'application
            </li>
            <li>
                Gérer les équipes de joueurs
            </li>
            <li>
                Gérer les jeux avec lesquels se feront les compétitions
            </li>
            <li>
                Gérer les compétitions en cours et passés.
            </li>
        </ul>
    </li>
</ul>
