@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="texte_centre">
    Bienvenzdaadzue
</div>
<div class="texte_centre2">
    POTTIEZ Remy && METEYER Théo 
</div>

<div class="arrondi_d"> Test d</div>
<div class="arrondi_g"> Test g</div>