@page
@model projetEsport.Areas.Admin.Pages.Jeux.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jeu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jeu.Pseudo" class="control-label"></label>
                <input asp-for="Jeu.Pseudo" class="form-control" />
                <span asp-validation-for="Jeu.Pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jeu.CreeLe" class="control-label"></label>
                <input asp-for="Jeu.CreeLe" class="form-control" />
                <span asp-validation-for="Jeu.CreeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jeu.ModifieeLe" class="control-label"></label>
                <input asp-for="Jeu.ModifieeLe" class="form-control" />
                <span asp-validation-for="Jeu.ModifieeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
