@page
@model projetEsport.Pages.Competitions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Competition.ID" />
            <div class="form-group">
                <label asp-for="Competition.Nom" class="control-label"></label>
                <input asp-for="Competition.Nom" class="form-control" />
                <span asp-validation-for="Competition.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.DateDebut" class="control-label"></label>
                <input asp-for="Competition.DateDebut" class="form-control" />
                <span asp-validation-for="Competition.DateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.DateFin" class="control-label"></label>
                <input asp-for="Competition.DateFin" class="form-control" />
                <span asp-validation-for="Competition.DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.CreeLe" class="control-label"></label>
                <input asp-for="Competition.CreeLe" class="form-control" />
                <span asp-validation-for="Competition.CreeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.ModifieeLe" class="control-label"></label>
                <input asp-for="Competition.ModifieeLe" class="form-control" />
                <span asp-validation-for="Competition.ModifieeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.TypeCompetitionID" class="control-label"></label>
                <select asp-for="Competition.TypeCompetitionID" class="form-control" asp-items="ViewBag.TypeCompetitionID"></select>
                <span asp-validation-for="Competition.TypeCompetitionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.ProprietaireID" class="control-label"></label>
                <select asp-for="Competition.ProprietaireID" class="form-control" asp-items="ViewBag.ProprietaireID"></select>
                <span asp-validation-for="Competition.ProprietaireID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
